.href-link {
  text-decoration: none;
  color: #333;
  position: relative;
}

.href-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #333;
  transition: width 0.25s ease;
}

.href-link:hover::after {
  width: 100%;
}