.href-link {
  text-decoration: none;
  color: #333;
  position: relative;
}

.href-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #333;
  transition: width 0.25s ease;
}

.href-link:hover::after {
  width: 100%;
}

.golden-text {
  color: #EAD292;
}

.navy-text {
  color: #012C4E;
}

.card-hover:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}